**/**/target
**/**/**/target
**/**/bin
**/.m2/
/target
**/.settings
**/.classpath
**/.project
**/javaw_*.log
**/.iml
**/.externalToolBuilders
*.log
**/dependency-reduced-pom.xml
**/.DS_Store
.gradle/
.idea/
**/bin
.metadata/**
